assignment1-basics/runs/run_001/best_info.json
assignment1-basics/runs/run_001/best.pt
assignment1-basics/runs/run_001/lm_step_900.pt
assignment1-basics/runs/run_001/lm_step_950.pt
assignment1-basics/runs/run_001/lm_step_1000.pt
assignment1-basics/runs/run_001/metrics.jsonl
